<div class="container p-2">

    <div class="col">

        <app-navigation></app-navigation>

    </div>

</div>
<div class="container p-2">

    <div class="col">

        <app-search></app-search>

    </div>

</div>

<div class="container m-5">

    <div class="col">

        <!-- <app-search></app-search> -->

        <!-- <hr> -->

        <app-reactive-user-form></app-reactive-user-form>

        <!-- <br> -->

        <!-- <app-user [name]="user.name" [age]="user.age" [nationality]="user.nationality" *ngFor="let user of users"> -->
        <!-- </app-user> -->

    </div>

</div>
